
# CIS024C -  Fall 2024 - HW4

## Homework 4

Homework 4 covers exercises in basic collection objects in Python - lists, tuples and dictionaries.

The below sites have some interesting and useful information on these objects.

http://sthurlow.com/python/lesson06/
https://docs.python.org/2/tutorial/datastructures.html

You will need to download this notebook and use this as a starting point for your homework. You will just need to fill in the content of each code-block (cell) and execute. Once you have completed all the exercises, you will need to save and upload this to your Canvas

Note also the exercises build on top of one another so you might be able to do the next exercise if you have not completed the previous exercise.

### Helpful Jupyter Commands

Below are some useful commands to know when using Jupyter

1. You can add a new cell by clicking on the "+" icon on top.
2. You can delete a cell by selecting that cell and clicking on the "scissors" icon on top.
3. You can execute a cell by either pressing shift+enter or selecting the "play" button on top.
4. You can create a new file in Jupyter via the File menu->New Notebook option. Make sure to select Python 2 when creating your notebook.
5. Also, for your code blocks make sure that Code is selected instead of another option like Markdown.
6. Use the Enter key to go to the next line in a cell to enter the next statement.
7. You can clear results by clicking on the Cell menu item and selecting Current Output->Clear or All Output->Clear depending on whether you are trying to just clear the output for one cell or for all cells.
8. In case your program has crashed for some reason (infinite loop, for example), you can restart your Python session by select Kernel in the menu and selecting Restart.

#### Check Python Version

In [ ]:
!python --version

Python 3.8.5

#### Sample Exercises with conditionals and repetitions

Refer to Week 4 classwork for sample exercises - https://github.com/cis024c/spring2018classwork/tree/master/week4

**Exercise 1 - Testing your knowledge of lists, tuples and dictionaries**

Answer the below questions

1. Are lists mutable? Yes or No
2. Are tuples mutable? Yes or No
3. A dictionary is initialized using square brackets? True or False
4. If x is a tuple of the form ```x=(1,2,3)```, the operation ```x[0]=1``` is a valid operation? True or False

Your answer should be of the form
1. your response
2. your response
3. your response
4. your response

<< Double click this cell and enter your result >>
1. yes
2. no
3. False
4. False

#### Exercise 2 -  Initializing a list, tuple and dictionary

1. Initialize a list variable **myList** using square brackets with the number 10,20,30. Display the list
2. Initialize a tuple variable **myTuple** using parenthesis with the names John, Adams, Christopher. Display the tuple.
3. Initialize a dictionary variable **myDictionary**. The key values should be following. Note that the key is an integer variable, but the value is a string variable
```
1:Red
2:Blue
3:Green
```

In [ ]:
### YOUR CODE GOES

myList = [10,20,30]
myTuple = ('John', 'Adams', 'Christopher')
myDictionary = {1:'Red', 2:'Blue', 3:'Green'}

print(myList)
print(myTuple)
print(myDictionary)
### END CODE

[10, 20, 30]
('John', 'Adams', 'Christopher')
{1: 'Red', 2: 'Blue', 3: 'Green'}

#### Exercise 3 - Displaying values in a list object

Create a list object with 10 arbitrary numbers. Use a **for loop** to display only the odd numbers in the list.

**Example:**

If your list has ```[2,3,4,5,6]```, then you will need to display ```[3,5]```

In [ ]:
### YOUR CODE GOES BELOW

myList = [1,6,11,18,20,21,17,33,101,200]
oddList = []

for i in myList:
  if i % 2 != 0:
    oddList.append(i)

print(oddList)

### END CODE

[1, 11, 21, 17, 33, 101]

#### Exercise 4 - Sorting a list of strings

Ask the user to enter a list of names. Sort the names in descending order.

Use the list's **sort** function

https://www.w3schools.com/python/ref_list_sort.asp

In [ ]:
### YOUR CODE GOES BELOW
nameList = input("Enter a list of names separated by commas: ").split(',')

nameList.sort(reverse=True)
print(nameList)

### END CODE

Enter a list of names separated by commas: Nick, Jim, Ken, Cole
['Nick', ' Ken', ' Jim', ' Cole']

#### Exercise 5 - Accessing values in a dictionary object

Initialize a dictionary object with the below key, value pairs

 Key  | Value
 -----|------
'Harry'|'Teacher'
'Sally'|'Scientist'
'Joe'|'Farmer'
'Mathew'|'Detective'

Use a while loop to ask the user to enter a name, and display the corresponding value. If the name is not found, display "Could not find user"

At the end of each iteration, ask the user if they want to continue. If the user wants to continue, repeat the question, otherwise, terminate the while loop and display the message "Program ended"

**Example**
```
Enter a name: Harry
Occupation is Teacher

Do you want to continue(y/n): y

Enter a name: Joe
Occupation is Farmer

Enter a name: Mark
Could not find user

Do you want to continue(y/n): n
Program ended
```

In [ ]:
### YOUR CODE GOES BELOW

my_dict = {
    'Harry': 'Teacher',
    'Sally': 'Scientist',
    'Joe': 'Farmer',
    'Mathew': 'Detective'
}

while True:
    name = input("Enter a name: ")

    if name in my_dict:
        print("Value:", my_dict[name])
    else:
        print("Could not find user")

    choice = input("Do you want to continue? (y/n): ")

    if choice.lower() != 'y':
        print("Program ended")
        break



### END CODE

Enter a name: Sally
Value: Scientist
Do you want to continue? (y/n): y
Enter a name: joe
Could not find user
Do you want to continue? (y/n): Joe
Program ended

## OPTIONAL EXERCISES

Below is a set of optional exercises. These will not be graded but the solutions will be posted. I would strongly encourage you to try these out if you are done with the mandatory homework exercises to improve your understanding of python.

#### Exercise 6

Write a Python script to check if a given key already exists in a dictionary

**Hint**: Use the **get** method to determine if a key exists

In [ ]:
### YOUR CODE GOES BELOW
info = {
    "Country": "USA",
    "State" : "California",
    "County": "Santa Clara County",
    "City" : "San Jose"
}

a = info.get("City")
print(a)

### END CODE

San Jose

#### Exercise 7

Write a Python script to create a dictionary that contains a sequence of numbers from 1 to n and their squares. Ask the user to enter n. Display the resulting dictionary.

**Example**
If user enters 5, then your dictionary will look like

{1:1,2:4,3:9:4:16,5:25}

**Hint** You will need to assign new values to the dictionary to create the dictionary object

In [ ]:
### YOUR CODE GOES BELOW


### END CODE

#### Exercise 8

Refer to Exercise 7 for this problem.

Write a python program to sum all the values in the above dictionary (n:n^2). Display the resulting sum

In [ ]:
### YOUR CODE GOES BELOW


### END CODE

#### Exercise 9

Write a Python program to sort the below dictionary by key in descending order.

 {2:"Mary",1:"Sally",5:"Harry",4:"Joe"}

**Hint:** Refer to the class example

In [ ]:
### YOUR CODE GOES BELOW


### END CODE

#### Exercise 10

Write a python program to combine the below two dictionaries and display the resulting dictionary

* Dictionary 1:  {2:"Mary",1:"Sally",5:"Harry",4:"Joe"}
* Dictionary 2:  {6:"John",9:"Nancy",12:"Peter",8:"Alice"}

In [ ]:
### YOUR CODE GOES BELOW


### END CODE